<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Instructor Index</title>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: body"></th:block>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" th:text="${totalPage}">Instructor
                    <a th:if="${session.user.getSign()!='normal'}" th:href="@{/workers/add}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Mobile No.</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="!${#lists.isEmpty(workers)}">
                        <tr th:each="worker : ${workers}">
                            <td th:text="${worker.id}"></td>
                            <td th:text="${worker.lastName}"></td>
                            <td th:text="${worker.firstName}"></td>
                            <td th:text="${worker.mobileNumber}"></td>
                            <td th:text="${worker.address}"></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a th:href="${'/workers/view/' + worker.id}" class="btn btn-info"><span
                                            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    <a th:if="${session.user.getSign()!='normal'}"
                                       th:href="${'/workers/edit/' + worker.id}" class="btn btn-success"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <a th:if="${session.user.getSign()!='normal'}"
                                       th:href="${'/workers/delete/' + worker.id}" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </div>
                            </td>
                        </tr>
                    </div>
                    <div th:if="${#lists.isEmpty(workers)}">
                        <tr>
                            <td>No worker exists!</td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                <li th:class="${pageNum==0}?'disabled' : ''"><a th:href="${'/workers'+'?pageNum='+prePage}">&laquo;</a>
                </li>
                <li th:each="pageNo : ${#numbers.sequence(0, totalPage)}"
                    th:class="${pageNum eq pageNo}? 'active' : ''">
                    <a th:if="${pageNum  eq pageNo}" href="#">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (pageNum  eq pageNo)}" th:href="${'/workers'+'?pageNum='+pageNo}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </li>
                <li th:class="${totalPage==pageNum}?'disabled' : ''"><a th:href="${'/workers'+'?pageNum='+nextPage}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:include="fragments/js :: body"></th:block>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>

</html>
