<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: body"></th:block>
<th:block th:include="fragments/js :: body"></th:block>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
