<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <th:block th:include="fragments/head :: head"></th:block>
    <link th:href="${#request.getScheme()}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--<div class="container">-->
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="userName">User name</label>
                                <input id="userName" class="form-control" name="userName" placeholder="input username" type="text">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" class="form-control" name="password" placeholder="input password" type="password">
                            </div>
                            <div class="form-group">
                                <span style="color: #ff2635" th:if="${errMsg!=null}" th:text="${errMsg}"></span>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/register}">No account?Click here to register now!</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
    <th:block th:include="fragments/js :: body"></th:block>
</body>
</html>